<div>
  <div>
    <h1>
      List of all reasons
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new reason
    </h2>

    <form action="/insert_reason" method="post">
      <!-- <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div> -->



      <!-- <div>
        <label for="upvotes_box">
          Upvotes
        </label>

        <input type="text" id="upvotes_box" name="query_upvotes">
      </div> -->

      <!-- <div>
        <label for="downvotes_box">
          Downvotes
        </label>

        <input type="text" id="downvotes_box" name="query_downvotes">
      </div> -->

      <div>
      <p>Pick a neighborhood</p>
        <select id="neighborhood_id_1_box" name="query_neighborhood_id_1">
          <% Neighborhood.all.order(:city_id).order(:name).each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.id %>"><%= a_neighborhood.city.name %> - <%= a_neighborhood.name %></option>
          <% end %>
        </select>

      </div>

      <div>
<p>Pick a second neighborhood</p>
              <select id="neighborhood_id_2_box" name="query_neighborhood_id_2">
          <% Neighborhood.all.order(:city_id).order(:name).each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.id %>"><%= a_neighborhood.city.name %> - <%= a_neighborhood.name %></option>
          <% end %>
        </select>
              <div>
        <label for="description_box">
          <p>What makes these neighborhoods comparable?</p>
        </label>

        <textarea id="description_box" name="query_description" cols="75" rows="10" placeholder="For example, Logan Square Chicago and Fishtown in Philadelphia both have a lot of coffee shops and people walking dogs."></textarea>
      </div>

      <div>
        <label for="link_box">
          Want to add a source?
        </label>
<br>
        <input type="text" id="link_box" name="query_link">
      </div>
      </div>

      <button>
        Create reason
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <!-- <th>
          ID
        </th> -->

        <th>
          User
        </th>

        <th>
          Description
        </th>

        <th>
          Link
        </th>

        <th>
          Upvotes
        </th>

        <th>
          Downvotes
        </th>

        <th>
          Neighborhood id 1
        </th>

        <th>
          Neighborhood id 2
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
        <th>
        Agree!
        </th>
        <th>
        Disagree!
        </th>
      </tr>

      <% @list_of_reasons.each do |a_reason| %>
      <tr>
       <!--  <td>
          <%= a_reason.id %>
        </td> -->

        <td>
          <%= a_reason.user.first_name %> <%= a_reason.user.last_name %>
        </td>

        <td>
          <%= a_reason.description %>
        </td>

        <td>
          <%= a_reason.link %>
        </td>

        <td>
          <%= a_reason.upvotes %>
        </td>

        <td>
          <%= a_reason.downvotes %>
        </td>

        <td> <!-- replace these neighborhood IDs with the actual neighborhood name --> 
          <%= a_reason.neighborhood_id_1 %>
        </td>

        <td>
          <%= a_reason.neighborhood_id_2 %>
        </td>

        <td>
          <%= time_ago_in_words(a_reason.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_reason.updated_at) %> ago
        </td>

        <td>
          <a href="/reasons/<%= a_reason.id %>">
            Show details
          </a>
        </td>
        <td><a href="/modify_reason/upvote/<%= a_reason.id %>">Agree!</a></td>
        <td>Disagree!</td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
