<div>
  <div>
    <h1>
      List of all reasons
    </h1>
  </div>
</div>

<hr>

<div>
  <div>
    <h2>
      Add a new reason
    </h2>

    <form action="/insert_reason" method="post">
      <div>
        <label for="user_id_box">
          User
        </label>

        <input type="text" id="user_id_box" name="query_user_id">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <input type="text" id="description_box" name="query_description">
      </div>

      <div>
        <label for="link_box">
          Link
        </label>

        <input type="text" id="link_box" name="query_link">
      </div>

      <div>
        <label for="upvotes_box">
          Upvotes
        </label>

        <input type="text" id="upvotes_box" name="query_upvotes">
      </div>

      <div>
        <label for="downvotes_box">
          Downvotes
        </label>

        <input type="text" id="downvotes_box" name="query_downvotes">
      </div>

      <div>
        <label for="neighborhood_id_1_box">
          Neighborhood id 1
        </label>

        <input type="text" id="neighborhood_id_1_box" name="query_neighborhood_id_1">
      </div>

      <div>
        <label for="neighborhood_id_2_box">
          Neighborhood id 2
        </label>

        <input type="text" id="neighborhood_id_2_box" name="query_neighborhood_id_2">
      </div>

      <button>
        Create reason
      </button>
    </form>
  </div>
</div>

<hr>
<div>
  <div>
    <table border="1">
      <tr>
        <th>
          ID
        </th>

        <th>
          User
        </th>

        <th>
          Description
        </th>

        <th>
          Link
        </th>

        <th>
          Upvotes
        </th>

        <th>
          Downvotes
        </th>

        <th>
          Neighborhood id 1
        </th>

        <th>
          Neighborhood id 2
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @list_of_reasons.each do |a_reason| %>
      <tr>
        <td>
          <%= a_reason.id %>
        </td>

        <td>
          <%= a_reason.user_id %>
        </td>

        <td>
          <%= a_reason.description %>
        </td>

        <td>
          <%= a_reason.link %>
        </td>

        <td>
          <%= a_reason.upvotes %>
        </td>

        <td>
          <%= a_reason.downvotes %>
        </td>

        <td>
          <%= a_reason.neighborhood_id_1 %>
        </td>

        <td>
          <%= a_reason.neighborhood_id_2 %>
        </td>

        <td>
          <%= time_ago_in_words(a_reason.created_at) %> ago
        </td>
        <td>
          <%= time_ago_in_words(a_reason.updated_at) %> ago
        </td>

        <td>
          <a href="/reasons/<%= a_reason.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>
  </div>
</div>

<hr>
