<div>
  <div>
    <h1>
      Neighborhood #<%= @the_neighborhood.id %> details
    </h1>

    <div>
      <div>
        <a href="/neighborhoods">
          Go back
        </a>
      </div>

      <div>
        <a href="/delete_neighborhood/<%= @the_neighborhood.id %>">
          Delete neighborhood
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @the_neighborhood.name %>
      </dd>

      <dt>
        City
      </dt>
      <dd>
        <%= @the_neighborhood.city_id %>
      </dd>

      <dt>
        Description
      </dt>
      <dd>
        <%= @the_neighborhood.description %>
      </dd>

      <dt>
        Wiki link
      </dt>
      <dd>
        <%= @the_neighborhood.wiki_link %>
      </dd>

      <dt>
        Lat
      </dt>
      <dd>
        <%= @the_neighborhood.lat %>
      </dd>

      <dt>
        Lng
      </dt>
      <dd>
        <%= @the_neighborhood.lng %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_neighborhood.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@the_neighborhood.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<hr>


<div>
  <div>
    <h2>
      Edit neighborhood
    </h2>

    <form action="/modify_neighborhood/<%= @the_neighborhood.id %>"  method="post" >
      <div>
        <label for="name_box">
          Name
        </label>

        <input type="text" id="name_box" name="query_name" value="<%= @the_neighborhood.name %>">
      </div>

      <div>
        <label for="city_id_box">
          City
        </label>

        <input type="text" id="city_id_box" name="query_city_id" value="<%= @the_neighborhood.city_id %>">
      </div>

      <div>
        <label for="description_box">
          Description
        </label>

        <textarea id="description_box" name="query_description"><%= @the_neighborhood.description %></textarea>
      </div>

      <div>
        <label for="wiki_link_box">
          Wiki link
        </label>

        <input type="text" id="wiki_link_box" name="query_wiki_link" value="<%= @the_neighborhood.wiki_link %>">
      </div>

      <div>
        <label for="lat_box">
          Lat
        </label>

        <input type="text" id="lat_box" name="query_lat" value="<%= @the_neighborhood.lat %>">
      </div>

      <div>
        <label for="lng_box">
          Lng
        </label>

        <input type="text" id="lng_box" name="query_lng" value="<%= @the_neighborhood.lng %>">
      </div>

      <button>
        Update neighborhood
      </button>
    </form>
  </div>
</div>

<hr>
