<div class="shadow-lg p-3 mb-5 bg-body rounded mx-auto text-center mt-5 w-50">
  <h1>welcome to metaphor</h1>

<br>
<div class="d-grid gap-3">
  <h2>the 
    <div>
      <form action="/metaphor">
        <select name="query_neighborhood" class="form-select-lg" >
          <% Neighborhood.all.order(:city_id).order(:name).each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.id %>"><%= a_neighborhood.city.name %> - <%= a_neighborhood.name %></option>
          <% end %>
        </select>
      </div>
      of 
      <div>
        <select name="query_city" class="form-select-lg">
          <!-- create a Do loop that populates the menu options from the database, populate values with city.id and text with city.name -->
          <option value="blank"></option>
          <% City.all.each do |a_city| %>

            <option value="<%= a_city.id %>"><%= a_city.name %></option>
          <% end %>
        </select>
      </div>
      <br>
      is ... </h2>
    <button class="btn btn-primary w-50 mx-auto">find out..</button>
  </form>
</div>
</div>
