<div class="welcome">
  <h1>welcome to metaphor</h1>
</div>

<div class="metaphor_selector">
  <h2>the 
  <form action="/metaphor">
    <select name="query_neighborhood">
     <% Neighborhood.all.order(:city_id).order(:name).each do |a_neighborhood| %>
            <option value="<%= a_neighborhood.id %>"><%= a_neighborhood.city.name %> - <%= a_neighborhood.name %></option>
          <% end %>
      <!-- create a Do loop that populates the menu options from the database, populate values with neighborhood.id and text with neighborhood.name -->

    </select>
    of 
   
      <select name="query_city">
            <!-- create a Do loop that populates the menu options from the database, populate values with city.id and text with city.name -->

          <% City.all.each do |a_city| %>

          <option value="<%= a_city.id %>"><%= a_city.name %></option>
          <% end %>
      </select>
  <br>
    is ____________ </h2>
    <button>find out..</button>
  </form>
</div>
