<div class="welcome">
  <h1>welcome to metaphor</h1>
</div>

<div class="metaphor_selector">
  <h2>the <i><%= @metaphor_neighborhood.name %></i> (<%= @metaphor_neighborhood.city.name %>) <br> of 
    <br><%= @target_city.name %><br>
      <br>
    is<br><br> INSERT FINAL NEIGHBORHOOD NAME </h2>
</div>
Acceptable neighborhood variable: <%= @acceptable_neighborhoods %>
<br>
Acceptable neighborhood IDs variable: <%= @acceptable_neighborhood_ids %>
<br>
All reasons <%= @all_reasons %>
<br>
Target city reasons <%= @target_city_reasons %>


<h1><%= @target_neighborhood %></h1> references to logan square

<div class="reasons">
  <h2>because...</h2>
REASONS WHY <%= @metaphor_neighborhood.name %> IS LIKE TARGET NEIGHBORHOOD ONLY
  <table border=1 class="reasons_table">
    <tr>
      <td><%= @metaphor_neighborhood.name %> is like....</td>
      <td>because...</td>
      <td>+1</td>
      <td>-1</td>
      <td>details</td>
      
  </tr>
<% @all_reasons.order(:upvotes=>:desc).each do |a_reason| %>
    <tr>

      <td><%= Neighborhood.where(:id=>a_reason.neighborhood_id_2).at(0).name %> in <%= a_reason.city.name %></td>
      <td><%= a_reason.description %></td>
      <td><%= a_reason.upvotes %> (+1)</td>
        <td> (-1)</td>
        <td><a href="/reasons/<%= a_reason.id %>">
            Show details
          </a></td>
        </tr>
  <% end %>
       
  </table>


<!-- place for people to upvote other reasons for other neighborhoods -->

<p>People also said Fishtown is like...</p>
<table class="reasons_table">
<tr>
<td>
  <table border=1 class="reasons_table">
    <tr>
      <th><%= @metaphor_neighborhood.name %> is like....</th>
      <th>because...</th>
      <th>+1</th>
      <th>-1</th>
      <th>details</th>
      
  </tr>

  <% @all_reasons.each do |a_reason| %>
    <tr>
      <td><%= Neighborhood.where(:id=>a_reason.neighborhood_id_2).at(0).name %> in <%= a_reason.city.name %></td>
      <td><%= a_reason.description %></td>
      <td><%= a_reason.upvotes %> (+1)</td>
        <td> (-1)</td>
        <td><a href="/reasons/<%= a_reason.id %>">
            Show details
          </a></td>
        </tr>
  <% end %>     
  </table>
</td>
</tr>

</tr>
</table>
</div>
