<!DOCTYPE html>
<html>
  <head>
    <title>Neighborhood Metaphor</title>
    <%= csrf_meta_tags %>

    <!-- Expand the number of characters we can use in the document beyond basic ASCII 🎉 -->
    <meta charset="utf-8">

    <!-- Make it responsive to small screens -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>

  </head>

  <body>
  <nav>
    <% if @current_user != nil %>
    Currently signed in as: <%= @current_user.first_name %> <%= @current_user.last_name %>
        <li><a href="/user_sign_out">sign out</a></li>
        <% else %>
      <li><a href="/user_sign_up">sign up</a></li>
      <li><a href="/user_sign_in">sign in</a></li>
  <% end %>
    <li><a href="/">home</li>
    <li><a href="/neighborhoods">neighborhoods</a></li>
    <li><a href="/cities">cities</a></li>
    <li><a href="/reasons">reasons</a></li>
  </nav>
  <% if notice.present? == true %>
    <p class="notice"><%= notice %></p>
  <% end %>
  <% if alert.present? == true %>
    <p class="alert"><%= alert %></p>
  <% end %>
    <%= yield %>

<br>    <a href="/">Find another metaphor</a>
<br><br><br><br>
<div class="footer"><i>Note: this is an early concept test, future versions will have much more functionality</i></div>
  </body>
</html>
